html {
    height: 100%;
    min-height: 100%;
    background-color: black;
}

#title {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 200px;
    grid-template-areas: 
    ". name ."
}
#name {
    justify-self: center;
    align-self: center;
    color: blanchedalmond;
    font-family: monospace;
}

#concept {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px;
    grid-template-areas: 
    "htp"
    "rules";
    color: blanchedalmond;
    font-family: monospace;
}

#players {
    justify-self: center;
    font-family: monospace;
}

#playerId {
    height: 50px;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
    "user computer";
    font-family: monospace;
    color: blanchedalmond;
    font-size: large;
}

#user {
    justify-self: center;
}

#computer {
    justify-self: center;
}

#score-board {
    height: 50px;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
    "user-score  computer-score";
    color: blanchedalmond;
    font-family: monospace;
    font-size: 15px;
}

#user-score {
    justify-self: center;
}

#computer-score {
    justify-self: center;
}

#result {
    font-family: monospace;
    color: blanchedalmond;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 300px;
    justify-self: center;
}

#rules {
    justify-self: center;
    align-self: center;
    height: 100px;
}


#options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    "rock paper scissors";
}

#rock {
    border: 0;
    background-color: transparent;
    height: 200px;
    width: 200px;
    justify-self: flex-end;
    border-radius: 50%; 
}

#paper {
    border: 0;
    background-color: transparent;
    height: 200px;
    width: 200px;
    justify-self: center;
    border-radius: 50%;
}

#scissors{
    border: 0;
    background-color: transparent;
    height: 200px;
    width: 200px;
    justify-self: flex-start;
    border-radius: 50%;
}